body {
      font-family: 'Lobster', cursive;
      font-family: 'Luxurious Roman', cursive;
      font-family: 'Merriweather', serif;

}

.Welcome-header {
      display: flex;
      margin-top: 5%;



}

.exploreme-area {
      width: 50%;
      padding-left: 6%;


}

span {
      color: coral;
}

.link-button {
      text-decoration: none;
      background-color: orangered;
      padding: 10px 40px;
}

img {
      width: 30%;
      margin-left: 20%;
}

.Develop-area {
      display: flex;
      margin-top: 5%;

}

.Develop {
      width: 50%;
      padding-right: 20%;
      font-size: 20px;
}

.Coding {
      width: 100%;

}

#coding-backround {

      background-image: url(images/shapes/shape-1.png);
      background-repeat: no-repeat;
      background-position: left;
      background-size: 200px;


}